html{
    font-family: 'Poppins';
    font-size: 16px;
    background-color:hsl(0, 100%, 74%);
    color: white;
}

.btnTry{
    justify-content: center;
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    box-shadow: 0px 7px 0px hsl(0, 60%, 65%);
}

.textbox{
        width:100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 0rem;
        color: gray;
        font-weight: bold;
        border-radius: 3px;
        border-width: 1px;
        border: 1px solid lightgray;
    }



.btnSubmit{
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    box-shadow: 0px 3px 0px hsl(154, 59%, 42%);
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: .3rem;
    border: none;
}

.btnSubmit:hover{
        cursor: pointer;
        border: none;
    }

.bold{
    font-weight: bold;
}

.SecondContent form{
    background-color: white;
    border-radius: 5px;
}
.SecondContent .pby{
    color: gray;
}

.SecondContent .pterm{
    color: hsl(0, 100%, 74%);
}

.inputContainer input{
    width: 100%;
    text-indent: 16px;
}

.inputContainer{
    width: 100%;
}

.inputContainer img{
    position: absolute;
}

.icon{
    padding: 13px;
    display: inline-block;
    justify-content: center;
    right: 40px;
}

.inputContainer #first_icon_error,
.inputContainer #last_icon_error,
.inputContainer #email_icon_error,
.inputContainer #pass_icon_error{
    display: none;
}

.form-control #first_error,
    .form-control #last_error,
    .form-control #email_error,
    .form-control #pass_error
    {
        color: red;
        float: right;
        font-size: 11px;
        font-style: italic;
        margin-top: 7px;
        margin-bottom: 13px;
        display: none;
    }

footer{
    text-align: center;
    background-color: hsl(0, 100%, 70%);
}

/*MEDIA QUERY*/
@media(min-width:375px){
    html{
        background-image: url(../images/bg-intro-mobile.png);
    }
    .FirstContent{
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .FirstContent h2{
        margin-top: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .btnTry{
        text-align: center;
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
        
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .btnTry p{
        display: inline;
        font-size: 13px;
    }
    .SecondContent form{
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
    }
    
    .texts{
        padding-right: .5rem;
    }
    
    .policy{
        text-align: center;
        margin-top: .1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .policy p{
        display: inline;
        font-size: 12px;
    }
}


@media(min-width:1440px){
    html{
        background-image: url(../images/bg-intro-desktop.png);
    }
    .Container{
        display: inline-flex;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    
    .FirstContent{
        width: 50%;
        padding-left: 8rem;
    }
    .SecondContent{
        width: 50%;
        padding-right: 10rem;
    }
    .icon{
        right: 14rem;
    }
    
    .FirstContent h2{
        font-size: 3rem;
        font-weight: bold;
        text-align:left;
        padding: 0;
        padding-top: 9rem;
        padding-right: 9rem;
    }
    .FirstContent p{
        text-align: left;
        font-size: 16px;
        margin-right: 3rem;
    }
    
    .SecondContent form{
        padding: 2rem;
        box-shadow: 0px 7px 0px hsl(0, 60%, 65%);
    }
}